In [1]:
import pandas as pd

In [2]:
def output_challenge_eliminated_df():
    with open("challenge-eliminated-list.txt") as f:
        content = f.readlines()
    content = [x.strip().split(',') for x in content]
    
    # Clean Text
    for i in range(10):
        content[i][0] = 'Tribe ' + content[i][0]
    for i in range(len(content)):
        content[i][1] = content[i][1].title()[1:len(content[i][1]) - 1]
    for i in range(10,18):
        content[i][0] = content[i][0].title()[1:len(content[i][0]) - 1]

    df = pd.DataFrame(content, columns=['Challenge Winner', 'Eliminated Contestant'])
    return df

def output_contestant_resumes_df():
    with open("contestant-resumes-list.txt") as f:
        content = f.readlines()
    content
    content = [x.strip().split(',') for x in content]

    df = pd.DataFrame(content, columns=['Contestant', 'Tribe', 'Finish', '# Individual Challenges Won'])
    return df

In [5]:
output_challenge_eliminated_df()

   Challenge Winner Eliminated Contestant
0           Tribe 1          Contestant 1
1           Tribe 0         Contestant 14
2           Tribe 1          Contestant 4
3           Tribe 0         Contestant 12
4           Tribe 0         Contestant 10
5           Tribe 0         Contestant 17
6           Tribe 0         Contestant 15
7           Tribe 0         Contestant 16
8           Tribe 1          Contestant 9
9           Tribe 0         Contestant 13
10     Contestant 5          Contestant 7
11     Contestant 8          Contestant 6
12    Contestant 18         Contestant 19
13     Contestant 0         Contestant 18
14     Contestant 2          Contestant 5
15     Contestant 0         Contestant 11
16     Contestant 2          Contestant 8
17     Contestant 3          Contestant 0

In [6]:
output_contestant_resumes_df()

   Contestant Tribe Finish # Individual Challenges Won
0           1     0     20                           0
1          14     1     19                           0
2           4     0     18                           0
3          12     1     17                           0
4          10     1     16                           0
5          17     1     15                           0
6          15     1     14                           0
7          16     1     13                           0
8           9     0     12                           0
9          13     1     11                           0
10          7     0     10                           0
11          6     0      9                           0
12         19     1      8                           0
13         18     1      7                           1
14          5     0      6                           1
15         11     1      5                           0
16          8     0      4                           1
17          0     0      3                           2
18          2     0      0                           2
19          3     0      0                           1